# Backend
/backend/vendor
/backend/node_modules
/backend/.env
/backend/storage/*.key
/backend/public/build
/backend/public/hot
/backend/public/storage

# Frontend
/frontend/node_modules
/frontend/dist

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
